body {
    width: 1100px;
}

section {
    height: 500px;
    background: rgb(200, 200, 200);
}
header {
    width: 300px;
    height: 300px;
    background: rgb(255, 0, 0);
    float: left;
}
article {
    width: 1000px;
    background: rgb(0, 255, 0);
}